* {
	margin: 0;
	padding: 0;
}

body, html {
	border: 0px; 
	margin: 0px; 
	padding: 0px; 
	height: 100%;
	width: 100%;
}


#wrapper {

}


header {
	width: 100%;
	min-height: 700px;
	background: url(../img/starbackground2.jpg) fixed center;
	background-color: black;
	position: relative;
}


#bannerText {
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0;
	margin:auto; 
	height:500px;
	width:70%;
}

#st-trigger-effects {
	position: fixed;
}

.header-info {
	/*padding-top: 90px;*/
	width: 80%; 
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
}

.header-info h1{

   text-shadow: 
    rgb(32, 50, 61) 1px 1px,
    rgb(32, 50, 61) 2px 2px,
    rgb(32, 50, 61) 3px 3px,
    rgb(32, 50, 61) 4px 4px,
    rgb(32, 50, 61) 5px 5px,
    rgb(32, 50, 61) 6px 6px,
    rgb(32, 50, 61) 7px 7px,
    rgb(32, 50, 61) 8px 8px,
    rgb(32, 50, 61) 9px 9px,
    rgb(32, 50, 61) 10px 10px,
    rgb(32, 50, 61) 11px 11px,
    rgb(32, 50, 61) 12px 12px,
    rgb(32, 50, 61) 13px 13px,
    rgb(32, 50, 61) 14px 14px,
    rgb(32, 50, 61) 15px 15px,
    rgb(32, 50, 61) 16px 16px,
    rgb(32, 50, 61) 17px 17px,
    rgb(32, 50, 61) 18px 18px,
    rgb(32, 50, 61) 19px 19px,
    rgb(32, 50, 61) 20px 20px,
    rgb(32, 50, 61) 21px 21px,
    rgb(32, 50, 62) 22px 22px,
    rgb(32, 50, 62) 23px 23px,
    rgb(32, 51, 62) 24px 24px,
    rgb(33, 51, 62) 25px 25px,
    rgb(33, 51, 63) 26px 26px,
    rgb(33, 51, 63) 27px 27px,
    rgb(33, 51, 63) 28px 28px,
    rgb(33, 51, 63) 29px 29px,
    rgb(33, 52, 64) 30px 30px,
    rgb(33, 52, 64) 31px 31px,
    rgb(34, 52, 64) 32px 32px,
    rgb(34, 52, 64) 33px 33px,
    rgb(34, 52, 65) 34px 34px,
    rgb(34, 53, 65) 35px 35px,
    rgb(34, 53, 65) 36px 36px,
    rgb(34, 53, 65) 37px 37px,
    rgb(34, 53, 66) 38px 38px,
    rgb(35, 53, 66) 39px 39px,
    rgb(35, 53, 66) 40px 40px,
    rgb(35, 54, 66) 41px 41px
}


.down-arrow {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
	position: absolute;
	bottom: 35px;
	right: 50%;
	margin-right: -10px; 
}	




/* floating animation */
.floating {
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@-webkit-keyframes Floatingx {
    from {
        -webkit-transform:translate(0, 0px);
    }
    65% {
        -webkit-transform:translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}
@-moz-keyframes Floating {
    from {
        -moz-transform:translate(0, 0px);
    }
    65% {
        -moz-transform:translate(0, 15px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}
.scaling {
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
@-webkit-keyframes scalex {
    from {
        -webkit-transform: scale(0.9);
    }
    65% {
        -webkit-transform: scale(1.0);
    }
    to {
        -webkit-transform: scale(0.9);
    }
}
@-moz-keyframes scale {
    from {
        -moz-transform: scale(0.9);
    }
    65% {
        -moz-transform: scale(1.0);
    }
    to {
        -moz-transform: scale(0.9);
    }
}


.about {
	width: 100%;
	background: ghostwhite;
	padding: 40px 0 80px 0;
}

.about ul {
	margin: 0 8%;
}

.about-circle {
	height: 250px;
	width: 250px;
	margin: 20px auto 0 auto ;
	border-radius: 100%;
	background: #48D1CC;
}


/* Food */

.about-circle-food {
	height: 250px;
	width: 250px;
	margin: 20px auto 0 auto ;
	border-radius: 100%;
	background-image: url(../img/about_food.jpg);
}

/* Projects */

.about-circle-projects {
	height: 250px;
	width: 250px;
	margin: 20px auto 0 auto ;
	border-radius: 100%;
	background-image: url(../img/about_projects.jpg);
}

/* Parking */

.about-circle-parking {
	height: 250px;
	width: 250px;
	margin: 20px auto 0 auto ;
	border-radius: 100%;
	background-image: url(../img/about_parking.jpg);
}



.about p {
	display: block;
	padding-bottom: 40px;
	width: 75%;
	margin: 50px auto 0 auto;

}

.details {
	width: 100%;
	height: 600px;
	background: #242231;
	padding-top: 60px;
}

.details h2 {
	color: white;
}

.map {
	width: 100%;
	height: 800px;
	background-image: url(../img/map-large.jpg);
	background-position: 40px 0 0 0;
	background-size: cover;
}



.students {
	width: 100%;
	background: #242231;
	padding: 60px 0 150px;
}


/*.student-circle {
	height: 250px;
	width: 250px;
	margin: 50px auto 0 auto ;
	border-radius: 100%;
	background: ghostwhite;
	background-image: url(../img/astro.jpg);
}*/

.students ul {
	margin: 0 9%;
}

.students h2 {
	color: white;
}


.quote {
	width: 100%;
	background-image: url(../img/pascal-bg.jpg);
	/*background: #242231;*/
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}

.quote-text {
	padding: 100px 110px; 
	display: inline-block;
	width: 100%;
	font-family: "helvetica";
	font-style: italic;
	font-size: 35pt;
	font-weight: bold;
	color: white;
	line-height: 70pt;
}

.pascal {
	font-family: "proxima-nova";
	font-weight: 100;
	color: #48D1CC;
	font-size: 18pt;
	font-weight: normal;
	display: inline-block;
	width: 100%;
}

footer {
	width: 100%;
	height: 500px;
	background: teal;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

footer img {
	margin-top: 45px;
}

.credit {
	font-size: 12pt;
	font-family: "proxima-nova";
	font-weight: 100;
	color: white;
}

h1 {
	text-align: center;
	font-size: 80pt;
	font-family: "proxima-nova";
	font-weight: 800;
	color: white;
	line-height: 80pt;
	letter-spacing: -1px;
}

h2 {
	text-align: center;
	font-family: "proxima-nova";
	font-size: 45pt;
	padding-bottom: 30px;
}

h3 {
	text-align: center;
	font-size: 20pt;
	font-family: "proxima-nova";
	font-weight: 100;
	color: #48D1CC;
}

h4 {
	margin-top: -15px;
	text-align: center;
	color: #48D1CC;
	font-family: "proxima-nova";
	font-weight: 100;
}

p {
	font-family: "open-sans" , sans-serif;
	font-size: 12pt;
	line-height: 30px;
}

.bold {
	font-family: "open-sans" , sans-serif;
	font-weight: bold;
	font-size: 12pt;
	line-height: 30px;
}

.circle-subtitle {
	display: block;
	text-align: center;
	margin-top: 10px;
	font-family: "proxima-nova";
	font-weight:700;
	font-size: 24px;
	
}

.circle-name {
	display: block;
	text-align: center;
	margin-top: 10px;
	font-family: "proxima-nova";
	font-weight:700;
	font-size: 24px;
	color: #48D1CC;
	
}

.contact-info {
	text-align: center;
	font-size: 18pt;
	font-family: "proxima-nova";
	font-weight: 100;
	color: white;
	line-height: 30pt;
}

#contact {
	width: 100%;
	height: 300px;
	background: #2c2838;
	padding-top: 60px;

}


section.details,
section.students{
	background: url(../img/starbackground2.jpg) fixed;
}

.face-holder {
	position: relative;
}
.face-box {
	border-radius: 100%;
	background-image: url(../img/galactic.jpg);
	/*background: yellow;*/
	width: 250px;
	height: 250px;
}

.face-box img {
	transition: left 0.2s;
	-webkit-transition: left 0.2s; /* Safari */
	-moz-transition: left 0.2s; /*Firefox*/
	-o-transition: left 0.2s; /*Opera*/
}

.face-box:hover img {
	position: absolute;
	left: 15px;
}

#st-trigger-effects {
  position: absolute;
  left: 1em;
}

#st-trigger-effects button {
  position: fixed;
}


p.back-top {
  text-align: center;
  padding: 0;
  margin: 0 auto;

}

/* media queries */

@media (max-width: 1047px) {
	
	h1 {
		text-align: center;
		font-family: "proxima-nova";
		font-size: 70pt;
		padding-bottom: 30px;
		line-height: 100%;
	}
}

@media (max-width: 906px) {
	
	h1 {
		text-align: center;
		font-family: "proxima-nova";
		font-size: 60pt;
		padding-bottom: 30px;
		line-height: 100%;
	}

	h3 {
	text-align: center;
	font-size: 20pt;
	font-family: "proxima-nova";
	font-weight: 100;
	color: #48D1CC;	
	}

	.about-circle-food {
		height: 200px;
		width: 200px;
		margin: 20px auto 0 auto ;
		border-radius: 100%;
		background-image: url(../img/about_food.jpg);
		background-size: cover;
	}

	.about-circle-projects {
		height: 200px;
		width: 200px;
		margin: 20px auto 0 auto ;
		border-radius: 100%;
		background-image: url(../img/about_projects.jpg);
		background-size: cover;
	}
	.about-circle-parking {
		height: 200px;
		width: 200px;
		margin: 20px auto 0 auto ;
		border-radius: 100%;
		background-image: url(../img/about_parking.jpg);
		background-size: cover;
	}
}

@media (max-width: 808px) {
	.students ul li a.face-box {
		height: 200px;
		width: 200px;
		margin: 25px auto 0 auto ;
		border-radius: 100%;
}
	}	
}

@media (max-width: 776px) {
	
	h1 {
		text-align: center;
		font-family: "proxima-nova";
		font-size: 50pt;
		padding-bottom: 30px;
		line-height: 100%;
	}

		.about-circle-food {
		height: 250px;
		width: 250px;
		margin: 20px auto 0 auto ;
		border-radius: 100%;
		background-image: url(../img/about_food.jpg);
		background-size: cover;
	}

	.about-circle-projects {
		height: 250px;
		width: 250px;
		margin: 20px auto 0 auto ;
		border-radius: 100%;
		background-image: url(../img/about_projects.jpg);
		background-size: cover;
	}
	.about-circle-parking {
		height: 250px;
		width: 250px;
		margin: 20px auto 0 auto ;
		border-radius: 100%;
		background-image: url(../img/about_parking.jpg);
		background-size: cover;
	}
}

@media (max-width: 568px) {
	.down-arrow {
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid white;
		position: absolute;
		bottom: -80px;
		right: 50%;
		margin-right: -10px; 
}	
}

@media (max-width: 736px) {
	.quote-text {
		padding: 100px 110px; 
		display: inline-block;
		width: 100%;
		font-family: "helvetica";
		font-size: 30pt;
		font-weight: bold;
		color: white;
		line-height: 70pt;
}
}

@media (max-width: 656px) {
	.quote-text {
		padding: 100px 110px; 
		display: inline-block;
		width: 100%;
		font-family: "helvetica";
		font-size: 25pt;
		font-weight: bold;
		color: white;
		line-height: 70pt;
}
}

@media (max-width: 577px) {
	.quote-text {
		padding: 100px 110px; 
		display: inline-block;
		width: 100%;
		font-family: "helvetica";
		font-size: 18pt;
		font-weight: bold;
		color: white;
		line-height: 50pt;
}
}

@media (max-width: 483px) {
	.quote-text {
		padding: 100px 110px; 
		display: inline-block;
		width: 100%;
		font-family: "helvetica";
		font-size: 18pt;
		font-weight: bold;
		color: white;
		line-height: 40pt;
}
}

@media (max-width: 479px) {
	.quote-text {
		padding: 100px 110px; 
		display: inline-block;
		width: 100%;
		font-family: "helvetica";
		font-size: 16pt;
		font-weight: bold;
		color: white;
		line-height: 30pt;
}

@media (max-width: 446px) {
	.quote-text {
		padding: 100px 110px; 
		display: inline-block;
		width: 100%;
		font-family: "helvetica";
		font-size: 14pt;
		font-weight: bold;
		color: white;
		line-height: 30pt;
}
	.contact-info {
		text-align: center;
		font-size: 15pt;
		font-family: "proxima-nova";
		font-weight: 100;
		color: white;
		line-height: 30pt;
}


}

@media (max-width: 407px) {
	
	h1 {
		text-align: center;
		font-family: "proxima-nova";
		font-size: 40pt;
		padding-bottom: 30px;
		line-height: 100%;
	}
}

